
@{
    ViewData["Title"] = "PreRegistration";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



@model UserPreRegistrationViewModel
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Kullanıcı Kayıt</h2>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-info" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
        </div>

        <form method="post">

            <div class="row mb-3">
                <label for="ApartmentId" class="col-md-4 col-form-label" asp-for="ApartmentId"></label>
                <div class="col-md-8">
                    <select asp-for="ApartmentId" asp-items="ViewBag.apartments" class="form-control" asp-validation-for="ApartmentId">
                        <option value="0">Daire Seçiniz</option>
                    </select>
                    <span class="text-danger" asp-validation-for="ApartmentId"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="FirstName" class="col-md-4 col-form-label" asp-for="FirstName"></label>
                <div class="col-md-8">
                    <input asp-for="FirstName" class="form-control">
                    <span class="text-danger" asp-validation-for="FirstName"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="LastName" class="col-md-4 col-form-label" asp-for="LastName"></label>
                <div class="col-md-8">
                    <input asp-for="LastName" class="form-control">
                    <span class="text-danger" asp-validation-for="LastName"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="Email" class="col-md-4 col-form-label" asp-for="Email"></label>
                <div class="col-md-8">
                    <input asp-for="Email" class="form-control">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="Phone" class="col-md-4 col-form-label" asp-for="Phone"></label>
                <div class="col-md-8">
                    <input asp-for="Phone" class="form-control">
                    <span class="text-danger" asp-validation-for="Phone"></span>
                </div>
            </div>

            <div class="row mb-3">

                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </div>

        </form>
    </div>
</div>